.product {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
  height: 45vh;
  padding: 10px;
  > div {
    width: 40%;
  }
}

.images {
    border:2px solid rgb(212, 212, 212);
    border-radius:15px;
    height: 100%;
  div,
  img {
    width: 60%;
  }
  div > div > div:first-child {
    height: 40vh;
  }
}

.info {
  padding-left: 50px;
}
:global(.image-gallery-slide img) {
  height: 300px;
  object-fit: contain;
}
:global(.image-gallery-thumbnail img) {
  height: 40px;
  object-fit: contain;
}
