@use "/src/common/styles/colors" as *;

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.product {
  width: 385px;
  height: 490px;
  padding: 0 30px;
  background-color: rgb(252, 252, 252);
  border: 1.5px solid $grey100;
  border-radius: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
      font-size: 0.85rem;
  
h1 {
      font-size: x-large;
    margin-top: 15px;
      margin-bottom:0; 
  }
h2{
  font-weight: 400;
}
}

.pic {
width: 100%;
  height: 240px;


  background-color: #cbaff75c;
  border-radius: 30px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
  }
}

@media screen and (max-width:925px) {
  .product {
  width: 300px;
  height: 460px;
      font-size: 0.7rem;
}


}
@media screen and (max-width:695px) {
  .product {
  width: 250px;
}
}
@media screen and (max-width:585px) {
  .product {
  width: 212px;
}
}