
.home-page {
  padding: 0px 9%;
font-size:large
}
.wrapper{
  padding: 15px 35px;
}

.admin-panel{
  padding: 0px 55px;
}
.category{
  padding: 0px 9%;
}

@media screen and (max-width:1470px){
.category{
  padding: 0px 6%;
}
.home-page {
  padding: 0px 6%;
}
 .admin-panel{
  padding: 0px 25px;
}

}
@media screen and (max-width:925px){
.category{
  padding: 0px 5%;
}
.home-page {
  padding: 0px 5%;
}
}