
.home-page {
  padding: 0px 135px;
font-size:large
}
.wrapper{
  padding: 15px 35px;
}

.admin-panel{
  padding: 0px 55px;
}
.category{
  padding: 0px 135px;
  font-size:large
}

@media screen and (max-width:1065px){
.category{
  padding: 0px 135px;
  font-size:large
}
}